<div class="mainContainer">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile >
            <mat-grid-list cols="1" rowHeight="1:1">
                
                    <mat-form-field appearance="fill" class="frmContainer">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" [(ngModel)]="email" required>
                        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                
                
                
                    <mat-form-field appearance="fill" class="frmContainer">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    

                    <div class="frmContainer">
                        <button mat-stroked-button color="primary" (click)="login()">INGRESAR</button>
                    </div>
                
            </mat-grid-list>
            
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</div>