.main{
    float: left;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;

}
h1{
    text-align: center;
}
.uploadFile{
    float:left;
    width: 100%;
}
.btn-submit{
    float: right;
    width:35%;
}
.btn-submit > button{
    width: 100%;
}

.table{
    clear: both;
    width: 100%;
}
.main-uploader{
    float: left;
    width:100%;
    margin-top:20px;
}